# Dependency / Folder library yang sangat berat (Wajib Diabaikan)
node_modules/
package-lock.json

# File Kunci / Kredensial Sensitif (Wajib Diabaikan demi Keamanan)
.env
.env.local
.env.production
.env.development
.env.test

# Hasil Build / Kompilasi
dist/
build/

# Berkas Arsip / Kompresi (Seperti file .zip di gambar Anda)
*.zip
*.rar
*.tar.gz

# Sistem Operasi & Editor
.DS_Store
.vscode/
.idea/
Thumbs.db